/* task_card_wrapper */


.task_card_wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.submit_wrapper
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

a:hover
{
    cursor: pointer;
}
.fa:hover
{
    cursor: pointer;
    color: green;
}








/* task_card_wrapper */