/* task_card_wrapper */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task-management-heading
{
    padding-bottom: 20px;
}

.task_card_wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    align-items: center;
    border-radius: 30px;
}
.submit_wrapper
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

a:hover
{
    cursor: pointer;
}
.fa:hover
{
    cursor: pointer;
    color: green;
}
.icon-wrapper-background
{
    border-radius: 50%;
    background-color: #1b1b1d;
    color: white;
    text-align: center;
    width: 30px;
    padding: 2px;
}







/* task_card_wrapper */